html,
body {
  margin: 0;
  padding: 0;
}
.header {
  height: 100%;
  padding: 10px 100px;
  background-color: #2c2f33;
}
.header i {
  font-style: normal;
  color: #fff;
  padding: 0 10px;
}
.header img {
  width: 100px;
  height: 20px;
}
.header ul {
  display: inline-block;
  height: 20px;
  padding: 0;
  margin: 0;
}
.header ul li {
  float: left;
  list-style: none;
  width: 80px;
  height: 100%;
  text-align: center;
}
.header ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
}
.header ul li a:hover {
  color: #61a6ff;
}
.header div {
  display: inline-block;
  height: 20px;
  padding-left: 100px;
}
.header div span {
  color: #fff;
  margin-right: 10px;
}
.header div a {
  height: 100%;
  text-decoration: none;
  color: #fff;
}
.joblist {
  margin: 20px 100px;
  width: 60%;
  box-shadow: 5px 5px 8px #888888;
}
.joblist p {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #bdbdbd;
  margin: 0;
}
.joblist p span {
  font-size: 14px;
  color: #888888;
  margin-left: 5px;
}
.joblist p a {
  float: right;
  margin-right: 20px;
  text-decoration: none;
  color: #888888;
  font-size: 14px;
}
.joblist div.NewJob {
  height: 150px;
  overflow: hidden;
}
.joblist ul {
  height: 150px;
  margin-top: 0px;
  padding: 0;
}
.joblist ul li {
  list-style: none;
  height: 30px;
  width: 100%;
}
.joblist ul li span {
  display: inline-block;
  width: 20%;
  height: 20px;
  margin: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}
.joblist ul li span:nth-of-type(3) {
  float: right;
  text-align: right;
  color: #5a5a5a;
}
.joblist ul li span:nth-of-type(2) {
  color: #3f3f3f;
}
.joblist ul li span:nth-of-type(1) {
  color: #7db5ff;
  width: 50%;
}
