.top {
  position: relative;
}
.title {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 60px;
  margin: auto;
  color: #fff;
}
.title form {
  margin-top: 30px;
  height: 40px;
}
.title form input {
  width: 220px;
  height: 25px;
  padding: 0;
  float: left;
  border: none;
  border-radius: 2px;
  outline: none;
  text-indent: 10px;
}
.title form button {
  display: inline-block;
  padding: 0;
  width: 50px;
  height: 25px;
  margin-left: 10px;
  box-sizing: content-box;
  background-color: orange;
  border: none;
  color: #fff;
  border-radius: 2px;
}
.ant-carousel-vertical {
  height: 800px !important;
}
